/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif; /* Added fallback font */
    font-size: 1rem;
    letter-spacing: 0.4px;
    font-weight: 400;
    text-align: left;
    color: white;
    text-decoration: none;
    overflow: hidden;
}


body{
    width: 100vw;
    height: 100vh;
}



#mid{
    width: 100%;
    height: 120px;
    /* background-color:rgb(214, 154, 154); */
    display: flex;
    align-items: center;
    padding: 0px 45px;
    position: fixed;
    top: 0;
    z-index: 103;
    /* background-color: black; */
}
#mid:hover{
    background-color: white;
}

#mid:hover .inner{
color: black;
}

#mid:hover .outer{
color: black;
}

/* Default state for .img-1: hidden */
.header-bottom .img-1 {
    display: none;
    width: auto;
    height: 100%;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

/* On #mid hover, make .img-1 visible */
#mid:hover .header-bottom .img-1 {
    display: flex;
}



#mid .mid-between{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    /* background-color: wheat; */
}

.mid-between-up{
    width: 100%;
    height: 40%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0rem 0rem;
    /* background-color: aqua; */
}

.header-nav-up{
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 25px;
    gap: 25px;
}

.header-nav-up li {
    display: inline-flex;
}

.header-nav-up ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 0px;
    gap: 20px;
}

.header-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 9px;
    gap: 24px;
}



.header-lang-open .language-icon {
    width: 25px;
    height: 25px;
    padding-bottom: 10px;
    display: inline-block;
    /* vertical-align: middle; */
    justify-content: center;
    align-items: center;
}

.img2{
    width: 16px;
    height: 23px;
    padding-bottom:7px;
    display: inline-block;
    /* vertical-align: middle; */
    justify-content: center;
    align-items: center;
}



.header-nav li {
    display: inline-flex;
}


.header-bottom{
    width: 100%;
    height: 40%;
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
}

.header-bottom .img-1{
    width:auto;
    height: 100%;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.header-bottom .logo1{
    width: 180px;
    height: 180px;
    display: flex;
    list-style: none;
    padding-left: 3px;
    margin-bottom: 6px;
}


.language-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.lang-current {
    display: inline-block;
    font-size: 16px;
}

.language-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}


.header-bottom .header-nav{
    width:auto;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items:center;
}


.header-search-button {
    width: auto;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin-left: auto;
    margin-top: 8px;
    background-color:transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
    border-radius: 5px;
    color: white;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-search-button img {
    width: 15px;
    height: 15px;
    color: white;
}

.icon-investors {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon-investors .outer {
    display: inline-block;
}

.icon-outer {
    display: inline-block;
    vertical-align: middle;
}


.content-box {
    background: left / 0% 100% no-repeat; 
    width: 45%;
    min-height: 300px;
    margin: 210px 60px;
    background: linear-gradient(to right, rgba(0, 62, 96, 3), rgba(29, 106, 147, 0.9));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:  2rem;
    border-radius: 4px;
    cursor: pointer;
    transition:transform 0.3s ease;
}

.content-box:hover {
    background-color: rgba(14, 14, 14, 0.1); 
}




.analytics-hero-banner-title {
    font-size: 40px;
    color: white;
    text-decoration: none;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.content-box:hover .analytics-hero-banner-title {
    background-color: rgb(100, 234, 234);
    color: #111111;
}








.title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.analytics-hero-banner-title {
    font-size: 40px;
    font-weight: 500;
    /* padding-top: 100px 0px; */
    color: white;
    text-decoration: none;
}
.content-box .description {
    padding: 30px 0px;
    font-size: 1.2rem;
    color: white;
}

.body{
        width: auto;
        height: 100%;
        /* background-image: url(https://www.capgemini.com/wp-content/uploads/2024/05/Generative-AI-in-cybersecurity_2880X1800.jpg?w=2880&quality=70); */
       
        background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.372), rgba(117, 103, 103, 0.194)), /* Gradient to make top part transparent */
        url(https://www.capgemini.com/wp-content/uploads/2024/05/Generative-AI-in-cybersecurity_2880X1800.jpg?w=2880&quality=70);
       
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }


/* Default styling */
.language-icon {
    width: 25px;
    height: 25px;
}

/* Change language-icon on hover */
#mid:hover .language-icon {
    content: url("https://www.capgemini.com/wp-content/themes/capgemini2020/assets/images/global.svg");
}



.img {
    display: block;
}


#mid:hover .img {
    /* display: none; */
    content: url(img/search1.svg);
}

/* Default: show .img2, hide .img3 */
.img3 {
    display: none;
}

/* Hover: show .img3, hide .img2 */
#mid:hover .img3 {
    display: block;
}
#mid:hover .img2 {
    /* display: none; */
    content: url(img/linkicon.svg);
}

/* Change logo on hover */
.logo1 {
    content: url("https://www.capgemini.com/wp-content/themes/capgemini2020/assets/images/logo-white.svg");
}
#mid:hover .logo1 {
    content: url("https://www.capgemini.com/wp-content/themes/capgemini2020/assets/images/logo.svg");
}
